<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>Мощный удар</h2>
        <p>
            Норвежец {{ power_man }} прославился тем, что 9 ноября 2006 г. в Осло на съемках телевизионной
            передачи "Senkveld" телеканала TV2 в течение одной минуты сломал рукой 90 бетонных блоков.
        </p>
    <h2>Гамбургер</h2>
        <p>
            31 июля 2006 г. в меню гриль-бара {{ bar_name }} на пляже Паттайя в Таиланде был включен самый большой
            гамбургер весом 35,6 кг.
        </p>
    <h2>Человек-ёж</h2>
        <p>
            23 марта 2004 г. в городе Наньнин (Китай) в голову и лицо отважного китайца Вей Шенгчу было
            воткнуто {{ count_needle }} игл для иглоукалывания.
        </p>
</body>
</html>