<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Киа́ну Чарльз Ривз</title>
</head>
<body>
<h1>Киа́ну Чарльз Ривз</h1>
<p> Киа́ну Ривз — канадский актёр, кинорежиссёр, кинопродюсер и музыкант (бас-гитарист).
    Родился 2 сентября {{year_born}} в городе {{city_born}}, Ливан</p>
<p>Ссылаясь на его игру в фильме «{{movie_name}}» (1991), критик газеты The New York Times Джанет Маслин хвалит
    актёрскую многосторонность Ривза, говоря, что он «проявляет значительную дисциплину и диапазон. Он легко
    перемещается между выдержанным поведением, подходящим для полицейско-процедурной истории, и гибкой манерой его
    комических ролей»</p>
</body>
</html>